@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir LT';
    src: url('../src/fonts/AvenirNextLTPro-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Medium';
    src: url('../src/fonts/AvenirNextLTPro-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Bold';
    src: url('../src/fonts/AvenirNextLTPro-Demi.ttf');
    font-display: swap;
}

@layer base {
    html {
        font-family: "Avenir LT", sans-serif;
        scroll-behavior: smooth;
    }

    strong {
        color: #ED4E1C;
    }
}